<configuration>

    <appender name="debugfile"
        class="ch.qos.logback.core.FileAppender">
        <file>logs/tests.log</file>
        <append>false</append>
        <filter
            class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>%-20(%logger{0}:%line) %-8([%level]) %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="off">
        <appender-ref ref="debugfile" />
    </root>
</configuration>
