<configuration>

    <!--  defaults to logs/, override with -Dscoopi.log.dir -->
    <property name="LOG_DIR" value="${scoopi.log.dir:-logs}" />

    <appender name="console"
        class="ch.qos.logback.core.ConsoleAppender">
        <filter
            class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>%-20(%logger{0}:%line) %-8([%level]) %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="errorlog"
        class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/error.log</file>
        <append>false</append>
        <filter
            class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <encoder>
            <pattern>%-20(%logger{0}:%line) %-8([%level]) %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="debuglog"
        class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/debug.log</file>
        <append>false</append>
        <filter
            class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>%-20(%logger{0}:%line) %-8([%level]) %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="tasklog"
        class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/task.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-20(%logger{0}:%line) %-8([%level]) %msg%n
            </pattern>
        </encoder>
        <filter
            class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator
                class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>task-amararajabatteries-plGroup-plTask</marker>
                <marker>task-acme-quoteGroup-linkTask</marker>
                <marker>task-acme-bsGroup-bsTask</marker>
                <marker>datadef-links</marker>
                <marker>datadef-bs</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter>
    </appender>

    <appender name="tracelog"
        class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/trace.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-20(%logger{0}:%line) %-8([%level]) %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="DataNucleus.JDO" level="OFF" />
    <logger name="org.eclipse.jetty" level="WARN" />

    <root level="trace">
        <appender-ref ref="console" />
        <appender-ref ref="errorlog" />

        <appender-ref ref="debuglog" />

        <!--
        <appender-ref ref="tasklog" />
        <appender-ref ref="tracelog" />
         -->
    </root>

</configuration>
