<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logDir">${sys:scoopi.log.dir:-logs}</Property>
    </Properties>

    <Appenders>
        <File name="LOG_FILE" fileName="${logDir}/warn.log"
            append="false">
        </File>
    </Appenders>

    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="LOG_FILE" />
        </Root>
    </Loggers>

</Configuration>
